@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;500;600;700&family=JetBrains+Mono&family=Lato:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&family=Oswald:wght@400;500&family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;600&family=Raleway:wght@400;600&family=Roboto+Slab:wght@300;400&family=Roboto:wght@400;500&family=Source+Sans+Pro:wght@400;600&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white text-deep-graphite font-sans antialiased;
  }
}
